@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}
body {
  font-family: 'Montserrat', sans-serif;
}

input {
  font-size: 14px !important;
}
textarea {
  font-size: 14px !important;
}

/* ----------------------------------------------------- */
