/* ------------------CSS GRID START--------------------------------------- */
.main-links__wrapper {
    background-color: rgb(247, 247, 247);
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
        "one one one one two two three three"
        "one one one one two two three three"
        "one one one one four four four four"
        "one one one one four four four four"
        "five five five five four four four four"
        "five five five five four four four four"
        "five five five five six six seven seven"
        "five five five five six six seven seven";
    padding: 20px 5px;
}
.one {
    grid-area: one;
    background-color: rgb(122, 122, 122);
    height: 100px;
}
.two {
    grid-area: two;
    background-color: rgb(110, 110, 110);
}
.three {
    grid-area: three;
    background-color: rgb(110, 110, 110);
}
.four {
    grid-area: four;
    background-color: rgb(110, 110, 110);
}
.five {
    grid-area: five;
    background-color: rgb(110, 110, 110);
}
.six {
    grid-area: six;
    background-color: rgb(110, 110, 110);
}
.seven {
    grid-area: seven;

    background-color: rgb(110, 110, 110);
}
.main-links__large {
    height: 445px;
}
.main-links__small {
    height: 220px;
}
/* ------------------CSS GRID END----------------------------------------- */

.main-links {
    position: relative;
    overflow: hidden;
}
.main-links__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    color: white;
    background-color: #0e0c0b;
    font-weight: 700;
}

.link__image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.8s ease;
}

@media (max-width: 1250px) {
    .link__image {
        display: block;
        height: 100%;
        width: auto;
        transition: transform 0.8s ease;
    }
}

@media (max-width: 550px) {
    .link__image {
        display: block;
        width: 100%;
        /* height:  */
        object-fit: cover;
        transition: transform 0.8s ease;
    }
}

.link__image:hover {
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .main-links__large {
        height: 355px;
    }
    .main-links__small {
        height: 175px;
    }
}
@media (max-width: 780px) {
    .main-links__large {
        height: 305px;
    }
    .main-links__small {
        height: 150px;
    }
}

@media (max-width: 550px) {
    .main-links__wrapper {
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 5px 5px;
        grid-template-areas:
            "one one one one"
            "one one one one"
            "one one one one"
            "one one one one"
            "two two three three"
            "two two three three"
            "two two three three"
            "two two three three"
            "four four four four"
            "four four four four"
            "four four four four"
            "four four four four"
            "five five five five"
            "five five five five"
            "five five five five"
            "five five five five"
            "six six seven seven"
            "six six seven seven"
            "six six seven seven"
            "six six seven seven";
        padding: 20px 5px;
    }
    .main-links__large {
        height: 250px;
    }
    .main-links__small {
        height: 250px;
    }
}
