.link {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding-bottom: 3px;
    /* background-color:blueviolet */
}
.link::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background-color: rgb(1, 138, 45);
    margin-top: 2px;
}
.link:hover::after {
    width: 100%;
    transition: all 0.4s;
}

.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

/* Green: rgb(1, 138, 45)
Yellow: rgb(252, 222, 3)
Red: rgb(213, 28, 44)
Black: rgb(14, 12, 11)  */
