.my-orders__page {
    box-sizing: border-box;
    /* margin-top: 80px; */
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    background-color: rgb(247, 247, 247);
}

.addresses-btn {
    background-color: rgb(252, 222, 3);
    color: #1c1b1b;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 32px;
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: 0;
}

.my_orders {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    color: white;
    align-items: center;
    height: fit-content;
    width: 100%;
}
.my_orders__top {
    margin: 60px 0 50px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.my_orders__top-left {
    display: flex;
    justify-content: space-around;
}
.my_orders__slogan__title {
    color: #1c1b1b;
    font-size: 30px;
    /* font-family: "Frank Regular", "san-serif"; */
    justify-self: flex-start;
    max-width: 350px;
    line-height: 35px;
    /* font-size: 80px; */
    /* animation: SideToSide 1s linear infinite; */
    margin-top: 25px;
    margin-bottom: 13px;
}

.my_orders__slogan__message {
    color: #1c1b1b;
    font-size: 15px;
    /* font-family: "Frank Regular", "san-serif"; */
    justify-self: flex-start;
    max-width: 350px;
    line-height: 35px;
    /* font-size: 80px; */
    /* animation: SideToSide 1s linear infinite; */
}

.my_orders__slogan__orders {
    font-size: 14px;
    color: #6a6a6a;
    text-decoration: none;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 10px;
    margin-bottom: 34px;
}

/* @keyframes SideToSide {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
} */
.linkedIn__link {
    background-color: rgb(247, 247, 247);
    border-radius: 2px;
}
.my_orders__logo-holder {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my_orders__follow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linkedIn__link {
    fill: rgb(247, 247, 247);
}
.my_orders__follow > h3 {
    margin-bottom: 10px;
    color: rgb(247, 247, 247);
}
.my_orders__top-right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.my_orders__bottom {
    width: 100%;
}
.my_orders__logo {
    width: 80px;
    height: 80px;
    margin: 0 0 20px 0;
}
.svg-logo {
    width: 100%;
    height: 100%;
}

.my_orders__links-holder-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}
.my_orders__links-holder > h3 {
    color: rgb(247, 247, 247);
}
.my_orders__list {
    list-style: none;
}
.my_orders__link {
    color: rgb(247, 247, 247);
    text-decoration: none;
    font-weight: lighter;
    margin: 10px 0;
}
.my_orders__option {
    margin: 10px 0;
    color: rgb(247, 247, 247);
}
.my_orders__contact-header {
    display: flex;
    align-items: center;
    color: rgb(247, 247, 247);
}
.my_orders__contact-header > .mail {
    font-size: 22px;
    padding: 0 0px 0 5px;
    fill: rgb(247, 247, 247);
}
.my_orders__contact-email > p {
    margin: 10px 0;
    color: rgb(247, 247, 247);
}
.my_orders__bottom-line {
    width: 80%;
    height: 1px;
    display: block;
    background-color: rgb(247, 247, 247);
}
.my_orders__bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}
.my_orders_one,
.my_orders_two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px 0;
}
.my_orders_one > p {
    color: rgb(247, 247, 247);
    font-weight: lighter;
}
/* .my_orders_two > p {
  color: rgb(247, 247, 247);
  font-size: 13px;
  font-family: "Architects Daughter", cursive;
} */
.normanlly__link {
    text-decoration: none;
}
.normanlly__link__text {
    color: rgb(247, 247, 247);
    font-size: 13px;
    font-family: "Architects Daughter", cursive;
}
@media (max-width: 1434px) {
    .my_orders__top {
        width: 90%;
    }
    .my_orders__slogan > h1 {
        width: 330px;
        font-size: 60px;
    }
}

@media (max-width: 1024px) {
    .my_orders__slogan > h1 {
        width: 330px;
        font-size: 60px;
    }
}

@media (max-width: 950px) {
    .my_orders__top {
        margin: 50px 0;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .my_orders__slogan {
        padding: 0;
    }
    .my_orders__slogan > h1 {
        margin: 0 0 20px 0;
        padding: 0;
    }
    .my_orders__logo {
        width: 80px;
        height: 80px;
        margin: 20px 0 20px 0;
    }
    .my_orders__follow {
        margin-top: 10px;
    }

    .my_orders__links-holder-right {
        display: flex;
        flex: 1;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .my_orders__top-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .my_orders__top-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .my_orders__contact-holder {
        margin: 0 0 30px 0;
    }
}

@media (max-width: 768px) {
    .my_orders__slogan > h1 {
        width: 250px;
        font-size: 50px;
    }
    .my_orders__bottom-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .my_orders_one,
    .my_orders_two {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
@media (max-width: 650px) {
    .my_orders__slogan > h1 {
        width: 200px;
        font-size: 40px;
    }
}

@media (max-width: 520px) {
    .my_orders__wrapper {
        width: 90%;
    }
    .my_orders__top {
        margin: 50px 0;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .my_orders__top-left {
        width: fit-content;
        display: flex;
        align-items: center;
    }
    .my_orders__slogan > h1 {
        width: 275px;
        font-size: 25px;
        text-align: center;
    }
    .my_orders__logo {
        width: 60px;
        height: 80px;
        margin: 20px 0 20px 0;
    }
    .my_orders__follow {
        margin: 10px 0 30px 0;
    }
    .my_orders__links-holder-right {
        width: 275px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .my_orders__top-right {
        width: fit-content;
        display: flex;
        align-items: center;
        flex: 1;
        padding-top: 50px;
    }
    .my_orders__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .my_orders__contact-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 30px 0;
    }
}
@media (max-width: 420px) {
    .my_orders__wrapper {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
